* {
  box-sizing: border-box;
}

.page {
  min-block-size: 100vh;
  margin-block: 0;
  margin-inline: 0;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color-content);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  inline-size: 375px;
  block-size: 668px;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  margin-block-end: 40px;
}

.header__logo,
.footer__logo {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: var(--logo-shadow);
  margin: 0;
  text-align: left;
}

.header__logo {
  grid-row: 2;
}

.footer__logo {
  grid-row: 1;
  align-self: center;
}

.header__text {
  grid-row: 3;
  align-self: center;
  font-family: var(--text-font);
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 1.3;
  color: var(--bg-color);
  background-color: var(--title-decor-bg);
  inline-size: 100%;
  max-inline-size: var(--container-width);
  margin-block: 0;
  text-align: left;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: start;
  margin-block-start: 60px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__theme-menu-button {
  all: unset;
  cursor: pointer;
  font-family: var(--text-font);
  font-size: 18px;
  color: var(--color-menu);
  text-transform: lowercase;
  padding-block: 0;
  padding-inline: 13px;
  min-block-size: 26px;
  transition: border 0.3s ease;
  border: 1px solid transparent;
  display: block;
  text-align: center;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.header__theme-menu-button:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 20px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 6px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 6px 2px rgba(255, 0, 168, 0.6);
}

.content {
  block-size: 668px;
  padding: 10px;
  flex: 1;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  background-color: var(--bg-color-content);
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 42px;
}

.content-link {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: var(--link-shadow);
}

.content-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content-link:focus {
  outline: none;
}

.content-link:focus-visible {
  outline: 1px solid var(--border-link);
  outline-offset: 1px;
}

.content-section {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color);
}

.content-section__title {
  font-family: var(--text-font);
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  inline-size: 100%;
  margin-block: 0;
  margin-block-start: 0px;
  margin-block-end: 13px;
}

.content-section:first-of-type .content-section__title {
  background-color: transparent;
  color: var(--accent-color);
  margin-block: 0 15px;
}

.content-section:last-of-type .content-section__title {
  background-color: var(--accent-color-text-block);
  color: var(--color-text-block);
  padding-block: 4px;
  margin-block: 0 2px;
}

.content-section__grid {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  margin-block: 0px;
}

.text-card {
  inline-size: 100%;
  margin-block-end: 5px;
}

.text-card__title {
  font-family: var(--text-font);
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--accent-color-text-block);
  color: var(--color-text-block);
  padding-block: 4px;
  margin-block: 0;
  margin-block-end: 10px;
  padding-bottom: 1px;
}

.text-card__subtitle {
  font-family: var(--text-font);
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--accent-color-text-block);
  color: var(--color-text-block);
  margin-block: 20px 0;
}

.text-card__content {
  margin-block: 0;
  margin-inline: 0;
}

.text-card__paragraph {
  font-family: var(--text-font);
  font-size: 18px;
  line-height: 1.3;
  color: var(--text-color);
  margin-block: 10px;
  inline-size: 100%;
}

.gallery-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  inline-size: 100%;
}

.gallery-item {
  inline-size: 100%;
  flex: 1;
  min-block-size: 120px;
  object-fit: cover;
  object-position: center;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 2px solid var(--accent-color);
  border-inline-end: 2px solid var(--accent-color);
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 2px solid var(--accent-color);
  border-inline-start: 2px solid var(--accent-color);
}

.footer {
  inline-size: 100%;
  padding-block: 20px;
  display: grid;
  place-items: center;
  background-position: center;
  background-size: cover;
  position: relative;
  min-block-size: 668px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    inline-size: 768px;
    block-size: 1024px;
    padding: 20px;
    padding-left: 0;
    justify-items: start;
    margin-block-end: 0px;
  }

  .text-card__title {
    max-width: 728px;
  }

  .header__text {
    justify-self: end;
    max-width: 364px;
  }

  .header__logo,
  .footer__logo {
    font-size: 120px;
  }

  .header__theme-menu {
    margin-top: 170px;
  }

  .header__rec {
    inset-block-start: 25px;
    inset-inline-end: 35px;
  }

  .content {
    padding: 20px;
    gap: 64px;
    padding-bottom: 0;
    margin-bottom: 60px;
  }

  .content-section:first-of-type {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    align-items: start;
  }

  .content-section:first-of-type .content-section__title {
    justify-self: start;
    margin-top: 40px;
  }

  .content-section:first-of-type .content-section__grid {
    margin-top: 35px;
  }

  .content-section:nth-of-type(2) .content-section__title {
    max-width: 236px;
    margin-block-end: 15px;
  }

  .content-section:nth-of-type(2) {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 768px;
    min-height: 675px;
  }

  .content-section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    align-items: start;
    padding-bottom: 0;
  }

  .content-section:nth-of-type(3) .content-section__title {
    margin-block-start: 0;
    max-width: 236px;
  }

  .content-section:nth-of-type(3) .text-card__title {
    min-width: 472px;
    padding: 0;
  }

  .content-section:last-of-type {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 16px;
  }

  .content-section:last-of-type .content-section__title {
    margin-block: 0;
  }

  .gallery-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 20px;
  }

  .gallery-item {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: 20px;
    padding-top: 0;
    min-width: 728px;
    min-height: 1024px;
    padding-bottom: 0;
    justify-content: center;
    align-content: center;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-start: auto;
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
}

@media (min-width: 1024px) {
  .header,
  .content,
  .footer {
    inline-size: 1024px;
    block-size: 768px;
    margin-bottom: 38px;
  }

  .header,
  .footer {
    position: relative;
    align-items: center;
    justify-items: center;
    background-position: center;
    background-size: cover;
    padding: 20px;
    padding-left: 0;
  }

  .footer {
    padding: 20px;
    margin-bottom: 0;
    max-width: 1024px;
    min-height: 728px;
  }

  .header {
    background-image: var(--cover-image);
  }

  .footer__logo {
    font-size: 157px;
    justify-self: center;
  }

  .header__logo {
    grid-row: 2;
    font-size: 157px;
    justify-self: start;
  }

  .header__footer {
    grid-row: 2;
  }

  .header__text {
    grid-row: 3;
    align-self: center;
    max-width: 491px;
    justify-self: end;
  }

  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
    align-self: start;
    margin-block-start: 0px;
    grid-column: 1/-1;
    margin-left: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content {
    padding: 20px;
    gap: 62px;
    padding-bottom: 0;
    margin-bottom: 60px;
  }

  .content-section:first-of-type {
    grid-template-columns: 314.96px 1fr;
    gap: 19.93px;
    align-items: start;
    display: grid;
  }

  .content-section:first-of-type .content-section__title {
    margin-block-start: 0;
  }

  .content-section:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
  }

  .content-section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 315px 1fr;
    align-items: flex-start;
    gap: 21px;
  }

  .content-section__title {
    grid-column: 1;
  }

  .content-section__grid {
    grid-column: 2;
    grid-template-columns: repeat(3, 1fr);
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-start: auto;
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .content-section:nth-of-type(2) .content-section__title {
    margin-block-start: 0;
    grid-column: 1;
    max-width: 315px;
    margin-bottom: 18px;
  }

  .text-card__title {
    margin: 0;
    padding: 0;
  }

  .text-card {
    margin-block-end: 10px;
  }
  .content-section:nth-of-type(2) .content-section__grid {
    grid-column: 2;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    display: grid;
  }

  .content-section:nth-of-type(3) .content-section__grid {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    padding-bottom: 0;
  }

  .content-section:nth-of-type(3) .content-section__title {
    margin-block-start: 0;
  }

  .gallery-items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery-item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .gallery-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header__rec {
    inset-block-start: 25px;
    inset-inline-end: 30px;
  }

  .content-section:last-of-type .content-section__title {
    margin: 0;
    padding: 0;
    margin-bottom: 17px;
  }
}
