.page {
  min-block-size: 100vh;
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--cover-image);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-content);
}

.header {
  inline-size: 100%;
  block-size: auto;
  min-block-size: 100vh;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  margin-block-end: 40px;
  min-height: 668px;
}

.header__logo,
.footer__logo {
  font-family: var(--text-font), monospace;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: var(--logo-shadow);
  margin: 0;
  text-align: left;
}

.header__logo {
  grid-row: 2;
}

.footer__logo {
  grid-row: 1;
  align-self: center;
  text-shadow: var(--logo-shadow-footer);
}

.header__text {
  grid-row: 3;
  align-self: center;
  font-family: var(--text-font), monospace;
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 1.3;
  color: var(--bg-color);
  background-color: var(--title-decor-bg);
  inline-size: 100%;
  max-inline-size: var(--container-width, 100%);
  margin-block: 0;
  text-align: left;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: start;
  margin-block-start: 60px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__theme-menu-button {
  all: unset;
  cursor: pointer;
  font-family: var(--text-font), monospace;
  font-size: 18px;
  color: var(--color-menu);
  text-transform: lowercase;
  padding-block: 0;
  padding-inline: 13px;
  min-block-size: 26px;
  transition: border 0.3s ease;
  border: 1px solid transparent;
  display: block;
  text-align: center;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.header__theme-menu-button:hover {
  border: var(--button-hover-border);
}

.header__rec {
  font-family: var(--text-font), monospace;
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 20px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 6px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.content {
  padding: 10px;
  flex: 1;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.content-link {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: var(--link-shadow);
}

.content-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content-link:focus {
  outline: none;
}

.content-link:focus-visible {
  outline: 1px solid var(--border-link);
  outline-offset: 1px;
}

.content-section {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color);
  margin-bottom: 29px;
}

.text-card__title {
  margin-top: 2px;
}

.content-section__title--accent {
  margin-top: 1px;
}

.content-section__title {
  font-family: var(--text-font), monospace;
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  inline-size: 100%;
  margin-block: 0;
  margin-block-start: 0;
  margin-block-end: 21px;
}

.text-card {
  inline-size: 100%;
  margin-block-end: 20px;
}

.text-card__title,
.content-section__title--accent {
  font-family: var(--text-font), monospace;
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--accent-color-text-block);
  color: var(--color-text-block);
  margin-block: 0;
  margin-block-end: 10px;
}

.text-card__subtitle {
  font-family: var(--text-font), monospace;
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--accent-color-text-block);
  color: var(--color-text-block);
  margin-block: 20px 0;
}

.text-card__content {
  margin: 0;
}

.text-card__paragraph {
  font-family: var(--text-font), monospace;
  font-size: 18px;
  line-height: 1.3;
  color: var(--text-color);
  margin-block: 10px;
  inline-size: 100%;
}

.gallery-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  inline-size: 100%;
}

.gallery-item {
  inline-size: 100%;
  flex: 1;
  object-fit: cover;
  object-position: center;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 2px solid var(--accent-color);
  border-inline-end: 2px solid var(--accent-color);
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 2px solid var(--accent-color);
  border-inline-start: 2px solid var(--accent-color);
}

.footer {
  inline-size: 100%;
  padding-block: 20px;
  display: grid;
  place-items: center;
  background-size: cover;
  position: relative;
  min-block-size: 100vh;
  min-height: 668px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header,
  .content,
  .footer {
    max-inline-size: 100%;
    padding: 20px;
  }

  .header {
    min-height: 1024px;
    padding-left: 0;
    justify-items: start;
    margin-bottom: 37px;
  }

  .content-section__grid {
    margin-top: 3px;
  }

  .header__logo,
  .footer__logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    margin-block-start: 169px;
  }

  .header__text {
    justify-self: end;
    max-inline-size: 364px;
  }

  .header__rec {
    inset-block-start: 22px;
    inset-inline-end: 34px;
  }

  .content {
    padding-bottom: 0;
    margin-bottom: 32px;
  }

  .content-section--intro {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    align-items: start;
    margin-bottom: 60px;
  }

  .content-section--intro .content-section__title {
    justify-self: start;
    margin-block-start: 5px;
  }

  .content-section__title--accent {
    margin-block-end: 4px;
    margin-block-start: 1px;
  }

  .section-why {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-bottom: 60px;
  }

  .section-why .content-section__title {
    max-inline-size: 236px;
    margin-block-end: 15px;
  }

  .section-how {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
    align-items: start;
    margin-bottom: 60px;
  }

  .section-how .content-section__title {
    margin-block-start: 5px;
  }

  .section-gallery {
    grid-template-rows: auto 1fr;
    gap: 13px;
  }

  .gallery-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  .gallery-item {
    height: 100%;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .gallery-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    min-height: 1024px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
}

@media (min-width: 1024px) {
  .header,
  .footer {
    padding: 20px;
    padding-left: 0;
    min-block-size: 100vh;
    min-height: 768px;
    max-inline-size: 1024px;
  }

  .footer {
    padding-left: 20px;
  }

  .header__logo {
    justify-self: start;
  }

  .footer__logo {
    justify-self: center;
  }

  .header__logo,
  .footer__logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    max-inline-size: 491px;
    justify-self: end;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
    grid-column: 1/-1;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-section__title--accent {
    margin-block-end: 4px;
    margin-block-start: 1px;
  }

  .content {
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 34px;
  }

  .content-section--intro {
    grid-template-columns: 314.96px 1fr;
    gap: 19.93px;
    align-items: start;
    display: grid;
    margin-bottom: 60px;
  }

  .section-intro .content-section__title {
    margin-block-start: 0;
  }

  .section-why {
    align-items: flex-start;
    margin-bottom: 52px;
  }

  .section-why .content-section__title {
    grid-column: 1;
    max-inline-size: 315px;
    margin-block-end: 19px;
  }

  .section-how {
    display: grid;
    grid-template-columns: 315px 1fr;
    align-items: flex-start;
    gap: 21px;
    margin-bottom: 60px;
  }

  .content-section__title {
    grid-column: 1;
  }

  .content-section__grid {
    grid-column: 2;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-why .content-section__grid {
    gap: 20px;
    grid-column: 2;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
  }

  .section-how .content-section__grid {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    padding-block-end: 0;
  }

  .text-card__title {
    margin: 0;
    padding: 0;
  }

  .text-card {
    margin-bottom: 20px;
  }

  .gallery-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery-item {
    height: 100%;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery-item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .header__rec {
    inset-block-start: 21px;
    inset-inline-end: 32px;
  }

  .section-gallery .content-section__title {
    margin: 0;
    padding: 0;
    margin-block-end: 17px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
}
