* {
  box-sizing: border-box;
}

.page {
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color-content);
  margin: 0;
}

.content-section_title_why,
.content-section_title_causes,
.content-section_title_advices,
.content_subheading,
.content-section_title_image,
.text-block__heading_title-decor_why,
.text-block__heading_title-decor_causes,
.text-block__heading_title-decor_advices {
  font-family: var(--text-font);
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 1.3;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  width: 100%;
  position: relative;
  background-image: var(--cover-image);
}

.header__logo,
.footer__logo {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: var(--logo-shadow);
  margin: 0;
}

.header__logo {
  grid-row: 2;
  justify-self: start;
}

.footer__logo {
  text-align: center;
}

.header__text {
  grid-row: 3;
  justify-self: center;
  align-self: start;
  margin-top: 57px;
  font-size: 18px;
  font-family: var(--text-font);
  font-weight: var(--bold-font-weight);
  background-color: var(--title-decor-bg);
  color: var(--bg-color);
  width: 100%;
}

.content-section_title_why {
  margin-top: 30px;
}

.text-block__paragraph_why,
.text-block__paragraph_causes,
.text-block__paragraph_advices {
  font-size: 18px;
  font-family: var(--text-font);
  font-weight: var(--regular-font-weight);
  line-height: 1.3;
  color: var(--text-color);
  word-wrap: break-word;
  width: 100%;
  margin-bottom: 10px;
}

.advices_content-section {
  margin-bottom:50px;
}

.text-block__heading_title-decor_why,
.text-block__heading_title-decor_causes,
.text-block__heading_title-decor_advices,
.content-section_title_image,
.content_subheading {
  background-color: var(--accent-color-text-block);
  color: var(--color-text-block);
  margin-top:21px;
}

.content_subheading {
  margin-bottom: 0;
}

.content-section_title_why,
.content-section_title_causes,
.content-section_title_advices {
  color: var(--accent-color);
}

.header__rec {
  position: absolute;
  top: 15px;
  right: 22px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 6px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 6px 2px rgba(255, 0, 168, 0.6);
}

.decorative-corner-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
}

.content-section_title_causes {
  margin-top: 50px;
}

.text-block__paragraph_causes {
  margin-top: -9px;
}

.text-block__main-content_advices {
  margin-top:-3px;
}

.content-section_title_advices {
  margin-top: 50px;
}

.content-section_title_image {
  margin-bottom: 10px;
}
.text-block__paragraph_advices {
  margin-top: 9px;
}

.image_content-section {
  margin-bottom:40px;
}

.decorative-corner-bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 2px solid var(--accent-color);
  border-left: 2px solid var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: start;
  margin-top: 60px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-block__paragraph_why {
  margin-top: -8px;
}

.header__theme-menu-button {
  all: unset;
  cursor: pointer;
  font-family: var(--text-font);
  font-size: 18px;
  color: var(--color-menu);
  text-transform: lowercase;
  padding: 0 13px;
  min-height: 26px;
  transition: border 0.3s ease;
  border: 1px solid transparent;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-hover-border);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-border);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-hover-border);
  pointer-events: none;
  cursor: default;
}

.content {
  padding: 10px;
  background-image: var(--bg-color-content);
}

.gallery-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.gallery-item {
  width: 100%;
  object-fit: cover;
  border: 2px solid var(--text-color);
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  padding: 10px;
  background-color: var(--bg-color-content);
}

@media (min-width: 768px) {
  .header {
    min-height: 1024px;
    grid-template-rows: 1fr min-content 1fr;
    padding: 20px;
    padding-left: 0;
  }

  .decorative-corner-top-right {
    top: 20px;
    right: 20px;
  }

  .decorative-corner-bottom-left {
    margin-bottom: 8px;
    margin-left: 7px;
  }
  .header__text {
    justify-self: end;
    max-width: 364px;
    margin-top: 160px;
  }

  .header__logo {
    font-size: 120px;
  }
  .header__theme-menu {
    margin-top: 170px;
  }

  .header__rec {
    top: 25px;
    right: 35px;
  }

  .content {
    padding: 0;
    margin-bottom: 8.3%;
  }

  .why_content-section {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 40px;
    margin-bottom: 10.43%;
  }

  .content-section_title_why {
    justify-self: start;
    margin-left: 8%;
    font-size: 18px;
    line-height: 1.3;
    margin-top: 25%;
  }

  .text-blocks_why {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 20px;
    align-items: flex-start;
  }

  .text-block__paragraph_why {
    font-size: 18px;
    line-height: 1.3;
    word-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    max-width: 472px;
  }

  .text-block__heading_title-decor_why {
    font-size: 18px;
    line-height: 1.3;
    margin-top: 0;
    max-width: 472px;
  }

  .text-block__heading_title-decor_causes {
    font-size: 18px;
    line-height: 1.3;
    margin-top: 0;
    max-width: 728px;
    margin-bottom: 3%;
  }

  .text-block__paragraph_causes {
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
    max-width: 728px;
  }

  .text-block__main-content {
    margin-top: 6px;
  }

  .text-block__main-content_why {
    margin-top: -2%;
  }

  .causes_content-section {
    grid-template-rows: auto 1fr;
    display: grid;
    max-width: 768px;
    padding-left: 20px;
    box-sizing: border-box;
    min-height: 675px;
  }

  .text-blocks_causes {
    grid-row: 2;
    font-size: 18px;
    line-height: 1.3;
    margin-top: 0.8%;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .text-block__main-content_causes {
    margin-top: -1.5%;
  }

  .content-section_title_causes {
    grid-row: 1;
    margin-top: -0.1%;
    font-size: 18px;
    line-height: 1.3;
    max-width: 236px;
  }

  .text-block_causes {
    display: block;
    max-width: 728px;
    box-sizing: border-box;
  }

  .advices_content-section {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 40px;
    margin-bottom:0;
  }

  .content-section_title_advices {
    justify-self: start;
    margin-left: 8%;
    font-size: 18px;
    line-height: 1.3;
    margin-top: 34%;
    min-width: 236px;
  }

  .text-blocks_advices {
    margin-top: 17%;
  }

  .text-block_advices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -2px;
  }

  .content_subheading {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.3;
    min-width: 472px;
    min-height: 23.92px;
  }

  .text-block__heading_title-decor_advices {
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 20px;
    min-width: 472px;
    display: block;
  }

  .text-block__paragraph_advices {
    line-height: 1.3;
    word-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    max-width: 472px;
  }

  .text-block_advices .text-block__paragraph_advices:last-child {
    margin-bottom: 0;
  }

  .content-section_title_image {
    margin-top: 14%;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: -1%;
    min-width: 355px;
  }

  .image_content-section {
    grid-template-rows: auto 1fr;
    display: grid;
    max-width: 768px;
    margin-left: 2.61%;
    box-sizing: border-box;
    min-height: 823px;
    margin-top: -3%;
    gap: 20px;
    margin-right: 2.61%;
  }

  .gallery-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    min-width: 355px;
    box-sizing: border-box;
    margin-top:7px;
  }

  .gallery-item {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    background: #f7f0ff;
    box-sizing: border-box;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 3;
  }
  .gallery-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  .gallery-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }
  .gallery-item:nth-child(4) {
    grid-column: 2;
  }
  .gallery-item:nth-child(5) {
    grid-column: 2 / 4;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 20px;
    padding-left: 0;
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: start;
    position: static;
    margin-top: 0;
    margin-right: -115px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__logo {
    grid-column: 1 / 4;
    grid-row: 2;
    justify-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 10rem);
  }

  .header__text {
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
    align-self: center;
    max-width: 491px;
    margin-top: 20px;
  }

  .header__rec {
    top: 25px;
    right: 35px;
  }

  .decorative-corner-top-right {
    top: 20px;
    right: 20px;
  }

  .why_content-section {
    display: grid;
    grid-template-columns: 314.96px 1fr;
    column-gap: 19.93px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: start;
    margin-bottom: 85px;
  }

  .content-section_title_why {
    grid-column: 1;
    margin-left: 0px;
    margin-top: 62px;
  }

  .text-block__paragraph_why {
    margin-top: -6px;
    max-width: 648.92px;
  }

  .text-block__main-content_why {
    margin-top: -1.5%;
  }

  .text-blocks_why {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }

  .text-block_why {
    width: 100%;
    max-width: none;
    justify-self: stretch;
    box-sizing: border-box;
  }

  .text-block__heading_title-decor_why {
    margin-bottom: 20px;
    max-width: 648.92px;
    margin-left: -1px;
  }

  .causes_content-section {
    padding-left: 20px;
    min-width: 984px;
    margin: 0;
    padding-right: 20px;
    margin-bottom: 59px;
    min-height: 498px;
  }

  .text-blocks_causes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
    min-width: 984px;
    margin-top: 3px;
  }

  .text-block_causes {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: none;
    justify-self: stretch;
    box-sizing: border-box;
  }

  .text-block__paragraph_causes {
    margin-bottom: 0;
  }

  .content-section_title_causes {
    min-width: 315px;
  }

  .text-block__heading_title-decor_causes {
    margin-bottom: 15px;
  }

  .advices_content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
    padding: 20px;
  }

  .content-section_title_advices {
    grid-column: 1;
    margin: 0;
  }

  .text-blocks_advices {
    grid-column: 2;
    margin: 0;
  }

  .text-block__heading_title-decor_advices {
    margin-bottom: 20px;
    min-width: 649px;
  }

  .content_subheading {
    margin: 0;
    min-width: 649px;
  }

  .text-block__paragraph_advices {
    margin-bottom: 20px;
    max-width: 649px;
  }

  .image_content-section {
    min-width: 984px;
    margin-top: 55px;
    margin-left: 17px;
    margin-bottom: 60px;
  }

  .footer {
    min-height: 768px;
  }

  .content {
    margin-bottom: 60px;
  }

  .content-section_title_image {
    margin-top: 0px;
  }

  .gallery-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    margin-top: 10px;
  }

  .gallery-item:nth-child(1) {
    grid-area: sunset;
  }
  .gallery-item:nth-child(2) {
    grid-area: ice-cream;
  }
  .gallery-item:nth-child(3) {
    grid-area: tape;
  }
  .gallery-item:nth-child(4) {
    grid-area: books;
  }
  .gallery-item:nth-child(5) {
    grid-area: street;
  }

  .gallery-item {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
